body {
    margin: 0;
    padding: 0;
}

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
--------------------

.header {
    height: 100vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 3px solid red; */
}

.header__top {
    display: flex;
}

.logo1 {
    position: relative;
    background: linear-gradient(138.36deg, #B1B1B1 0%, rgba(203, 202, 202, 0.83734) 15.33%, rgba(255, 255, 255, 0.609125) 44.47%, rgba(255, 255, 255, 0.489583) 48.04%, rgba(250, 248, 248, 0.576859) 54.18%, rgba(203, 202, 202, 0.813016) 80.24%, #B1B1B1 98.13%);
    width: 100px;
    height: 100px; 
    border-radius: 21px;
    margin-left: 31px;
    margin-top: 29px;
    margin-right: 13px;
}

.circle1 {
    border-radius: 50%;
    height: 43px;
    width: 44px;
    background-color: #ffffff;
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 35px);
    z-index: 2;
}

.circle2 {
    border-radius: 50%;
    height: 43px;
    width: 44px;
    z-index: 1;
    background-color: #000000;
    position: absolute;
    top: calc(50% - 22px);
    right: calc(50% - 35px);
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(138.36deg, rgba(255, 255, 255, 0.709219) 0%, rgba(225, 225, 225, 0.83734) 33.73%, #DDDBDB 48.55%, rgba(232, 229, 229, 0.813016) 61.84%, rgba(255, 255, 255, 0.813016) 98.13%);
    margin-top: 29px;
    border-radius: 21px;
    width: 100px;
    height: 100px;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 324px;
    margin-bottom: 90px;
}

.first__img {
    width: 322px;
    height: 181px;
}

.greeting {
    margin-top: 80px;
    padding-top: 38px;
}


@media (max-width: 1440px) {
    .container {
        width: 100%;
        max-width: 1024px;
    }

    .greeting {
        margin-top: 0;
    }

    .arrow {
        margin-top: 200px;
    }
}



@media (max-width: 1024px) {
    .container {
        max-width: 720px;
        padding: 20px;
    }

    .header__top {
        display: flex;
        justify-content: center;
    }

    .logo1 {
        margin-left: 0;
    }

    .gif {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .arrow {
        margin: 0;
    }

    .arrow-link img {
        width: 100px;
    }

}

@media (max-width: 600px) {
    .arrow .arrow-next {
        width: 70px;
    }
}

